# PyDESeq2 Analysis

This is the Python version of the popular DESeq2 package in R for differential gene expression analysis.
DESeq2 is widely used for bulk RNA-seq count data, offering robust statistical methods to identify genes that are differentially expressed between experimental conditions.
The goal is to take raw count data, normalize it, and extract insights from significant changes in gene expression.

In [1]:
## Load the bulk RNA-Seq data
# Here we have the raw counts, which is the exact input we want for DESeq2.
# Raw counts are generated by tools such as featureCounts or HTSeq-count.
from pathlib import Path
import pandas as pd

counts_path = Path("..") / "data" / "GSE164073_raw_counts_GRCh38.p13_NCBI.tsv.gz"
counts = pd.read_csv(counts_path, sep="\t")  # pandas auto-detects .gz compression

# Observe the data
counts.head()

,GeneID,GSM4996084,GSM4996085,GSM4996086,GSM4996087,GSM4996088,GSM4996089,GSM4996090,GSM4996091,GSM4996092,GSM4996093,GSM4996094,GSM4996095,GSM4996096,GSM4996097,GSM4996098,GSM4996099,GSM4996100,GSM4996101
0,100287102,2,5,3,2,5,2,4,2,3,2,2,4,3,2,2,3,3,3
1,653635,244,236,337,266,317,226,303,196,219,202,168,201,235,221,270,262,234,314
2,102466751,25,17,34,22,24,19,23,15,21,15,19,22,15,17,16,18,17,23
3,107985730,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1
4,100302278,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0